@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Protest+Riot&display=swap");

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Fredoka", sans-serif;
  font-weight: normal;
  font-style: normal;
  color: #888;
  overflow-x: hidden;
  font-size: 20px;
}

p {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 24px;
}

* {
  margin: 0;
  padding: 0;
}

.navbar-toggler:focus,
a:focus,
input:focus,
textarea:focus,
button:focus,
.btn:focus,
.btn.focus,
.btn:not(:disabled):not(.disabled).active,
.btn:not(:disabled):not(.disabled):active {
  text-decoration: none;
  outline: none;
  outline: none !important;
  border-color: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: #ff6b81;
  border-color: #ff6b81;
}

select {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: #081828;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: menulist;
  -moz-appearance: menulist;
  appearance: menulist;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: pre;
  -webkit-rtl-ordering: logical;
  background-color: -internal-light-dark(white, #3b3b3b);
  cursor: default;
  margin: 0em;
  font: 400 14px;
  border-radius: 0px;
  border-width: 1px;
  border-style: solid;
  border-color: -internal-light-dark(#767676, #858585);
  -o-border-image: initial;
  border-image: initial;
}

span,
a {
  display: inline-block;
  text-decoration: none;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  margin: 0px;
  color: #081828;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 25px;
}

h5 {
  font-size: 20px;
}

h6 {
  font-size: 16px;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.img-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container {
    width: 450px;
  }
}

.button .btn {
  display: inline-block;
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
  padding: 13px 30px;
  background-color: #ff6b81;
  color: #fff;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 5px;
  position: relative;
  z-index: 1;
  margin-right: 7px;
  overflow: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .button .btn {
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 500;
  }
}

@media (max-width: 767px) {
  .button .btn {
    padding: 12px 25px;
    font-size: 14px;
    font-weight: 500;
  }
}

.button .btn i {
  display: inline-block;
  margin-right: 5px;
}

.button .btn:last-child {
  margin: 0;
}

.button .btn:hover {
  color: #fff;
  background-color: #081828;
  -webkit-box-shadow: 0px 4px 4px #0000000f;
  box-shadow: 0px 4px 4px #0000000f;
}

.button .btn-alt {
  color: #fff !important;
  background: transparent !important;
  border: 2px solid #fff;
  padding: 11px 30px;
}

/*======================================
     End Header CSS
  ========================================*/
/*======================================
    Hero Area CSS
========================================*/
.hero-area {
  position: relative;
  padding: 20px 0 120px 0;
  background: #ff6b81;
}

.hero-image {
  position: relative;
  left: 31px;
}

.hero-image img {
  position: absolute;
  left: -185px;
  top: -16px;
  width: 661px!important;
  max-width: none;
  height: 593px;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area {
    padding: 150px 0 60px 0;
  }
}

@media (max-width: 767px) {
  .hero-area {
    padding: 120px 0 50px 0;
  }
}

.hero-area .hero-image img {
  width: 100%;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hero-area .hero-image {
    margin-top: 40px;
    
  }
}

@media (max-width: 767px) {
  .hero-area .hero-image {
    margin-top: 40px;
    transform: scale(0.5);
  }
}

.hero-area .hero-content {
  border-radius: 0;
  position: relative;
  z-index: 1;
  text-align: left;
}

.hero-area .hero-content h1 {
  font-size: 38px;
  font-weight: 800;
  line-height: 50px;
  color: #fff;
  text-shadow: 0px 3px 8px #00000017;
  text-transform: capitalize;
}

.hero-area .hero-content h1 span {
  display: block;
}

.hero-area .hero-content p {
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.2;
  color: #fff;
}

.hero-area .hero-content .button {
  margin-top: 40px;
}

.hero-area .hero-content .button .btn {
  background-color: #fff;
  color: #ff6b81;
  margin-right: 12px;
}

.hero-area .hero-content .button .btn i {
  font-size: 17px;
}

.hero-area .hero-content .button .btn:hover {
  background-color: #081828;
  color: #fff;
}

.hero-area .hero-content .button .btn.btn-alt {
  background-color: #ffffff6b;
  color: #fff;
}

.hero-area .hero-content .button .btn.btn-alt:hover {
  background-color: #fff;
  color: #ff6b81;
}

@media (max-width: 767px) {
  .hero-area .hero-content .button .video-button {
    margin-top: 20px;
  }
}

.hero-area .hero-content .button .video-button .text {
  display: inline-block;
  margin-left: 15px;
  color: #fff;
  font-weight: 500;
}

.hero-area .hero-content .button .video-button:hover .video {
  color: #fff;
  background-color: #081828;
}

.footer {
  background-color: #081828;
  position: relative;
}

.footer .footer-top {
  padding: 100px 0;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .footer .footer-top {
    padding: 80px 0;
    padding-top: 40px;
  }
}

@media (max-width: 767px) {
  .footer .footer-top {
    padding: 60px 0;
    padding-top: 20px;
  }
}


footer {
  height: 30px;
  color: #d2d6dc;
  padding: 20px;
  box-sizing: border-box;
}

footer a {
  color: #d2d6dc;
  font-weight: bold;
}

h1 {
  font-size: 3em !important;
}
h1 .fancy {
  font-family: "Protest Riot", sans-serif;
  display: inline !important;
}

h1 i {
  font-size: 0.7em;
  text-transform: none;
}

.hero-image img {
  border-radius: 200px;
  overflow: hidden;
}

@media only screen and (min-width: 767px) {
  .html,
  body {
    height: 100%;
    overflow: hidden;
  }

  .hero-area {
    height: 90%;
  }

  footer {
    height: 10%;
  }
}
@media only screen and (max-width: 767px) {
  .hero-area {
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
  }


footer {
  height: 50px;
  color: #d2d6dc;
  padding: 8px;
  box-sizing: border-box;
}

}
